<div class="contenedorPrincipal">
    <div class="row g-3">
      <input type="hidden" id="operacion" value="altas">
      <div class="col-md-10">
        <h1>Cambios</h1>
      </div>
      <div class="col-md-2">
        
        <div class="menu">
            <select [(ngModel)]="tabla" class="form-select" id="menuTabla" aria-label="Default select example" (change)="cargarTabla()">
                <option value="producto" selected>Producto</option>
                <option value="empleado">Empleado</option>
                <option value="cliente">Cliente</option>
                <option value="proveedor">Proveedor</option>
                <option value="doctor">Doctor</option>
            </select>
        </div>
      </div>
    </div>
    <div class="row g-3">
        <table *ngIf="descripcionTabla" class="table table-striped table-hover">
            <thead>
              <tr>
                <td *ngFor="let campo of descripcionTabla">{{campo | uppercase}}</td>
                <td>EDITAR {{tabla | uppercase}}</td>
              </tr>
            </thead>
            <tbody *ngIf="datosTabla">
              <tr *ngFor="let dato of datosTabla">
                <td  *ngFor="let propiedad of descripcionTabla">{{dato[propiedad]}}</td>
                <td><button type="button" class="btn btn-primary" (click)="editar(dato)">Editar</button></td>
              </tr>
            </tbody> 
        </table>
    </div>
  </div> 

