<div class="contenedorPrincipal">
    <div class="row g-3">
      <input type="hidden" id="operacion" value="altas">
      <div class="col-md-10">
        <h1>Consultas</h1>
      </div>
      <div class="">
        <!--<div class="menu">
          <select class="form-select" >
            <option value="producto" selected>BIENVENIDO A LA SECCION DE CONSULTAS COMUNES</option>
            <option value="empleado">Empleado</option>
            <option value="cliente">Cliente</option>
            <option value="proveedor">Proveedor</option>
            <option value="doctor">Doctor</option>
            <option value="pedido">Pedido</option>
            <option value="consultar">Consulta</option>
          </select>
        </div>-->
      </div>
    </div>
    <div class="row ">
      <div > 
        <div class="contenedordif "> 
          <h6>BIENVENIDO A LA SECCION DE CONSULTAS FRECUENTES :)</h6>
          <div class="row g-3">
            
            <div id="htmlData">
              <h1>{{titulo}}</h1>
              <table *ngIf="muestra" class="table table-striped table-hover">
                <thead>
                  <tr>
                    <td *ngFor="let campo of descripcionTabla">{{campo | uppercase}}</td>
                    
                  </tr>
                </thead>
                
                <tbody *ngIf="datosTabla">
                  <tr *ngFor="let dato of datosTabla">
                    <td  *ngFor="let propiedad of descripcionTabla">{{dato[propiedad]}}</td>
                   
                  </tr>
                </tbody> 
            </table>
            <h3 *ngIf="tt">Suma de cantidad: {{totalres}}</h3>
            <h3 *ngIf="tp">Total de resultados: {{totalpre}}</h3>

            </div>
         

            <hr> 
            <h6>Cosultas que tienen los doctores</h6>
            <div class="menu">
                <div class="col-12" id="btn">
                    <button class="btn btn-primary" (click)="CrearVista1()" >Mostrar Reporte</button>
                </div>
            </div>
            <h6>Productos y proveedores</h6>
            <div class="menu">
                <div class="col-12" id="btn">
                    <button class="btn btn-primary" (click)="crearvista2()" >Mostrar Reporte</button>
                </div>
            </div>
            <h6>Ventas con clientes y empleados</h6>
            <div class="menu">
                <div class="col-12" id="btn">
                    <button class="btn btn-primary" (click)="crearvista3()" >Mostrar Reporte</button>
                </div>
            </div>
            <h6>Ganancias de Doctores por meses</h6>
            <div class="menu">
                <div class="col-12" id="btn">
                    <button class="btn btn-primary" (click)="roll()" >Mostrar Reporte</button>
                </div>
            </div>
            <h6>Productos con menos de 10 unidades </h6>
            <div class="menu">
                <div class="col-12" id="btn">
                    <button class="btn btn-primary" (click)="productos10()" >Mostrar Reporte</button>
                </div>
            </div>
            <h6>Aumentar a los a los doctores Mayores de 40 el 10% de sueldo </h6>
            <div class="menu">
                <div class="col-12" id="btn">
                    <button class="btn btn-primary" (click)="sueldo()" >Subir sueldo</button>
                </div>
            </div>
            
          
        </div>
      </div>
  

    </div>
  </div>
  