<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Farmacia</title>
    </head>
    <body>
        <div class="contenedor col-md-6"> 
            <h1>Empleado</h1>
            <div class="row g-3">
                <div class="col-12">
                    <label for="nombreEmpleado" class="form-label">Nombre:</label>
                    <input required type="text" class="form-control" id="nombreEmpleado" name="nombreEmpleado">
                </div>
                <div class="col-12">
                    <label for="edadEmpleado" class="form-label">Edad:</label>
                    <input required type="number" class="form-control" id="edadEmpleado" name="edadEmpleado">
                </div>
                <div class="col-12">
                    <label for="direccionEmpleado" class="form-label">Dirección:</label>
                    <input required type="text" class="form-control" id="direccionEmpleado" name="direccionEmpleado">
                </div>
                <div class="col-12">
                    <label for="telefonoEmpleado" class="form-label">Teléfono:</label>
                    <input required type="number" class="form-control" id="telefonoEmpleado" name="telefonoEmpleado">
                </div>
                <div class="col-12">
                    <label for="sueldoEmpleado" class="form-label">Sueldo:</label>
                    <input required type="number" class="form-control" id="sueldoEmpleado" name="sueldoEmpleado">
                </div>
                <div class="col-12" id="btn">
                    <button class="btn btn-primary" onclick="altas()">Registrar</button>
                </div>
            </div>
        </div> 
    </body>
</html>