<div class="contenedorPrincipal">
    <div class="row g-3">
      <input type="hidden" id="operacion" value="altas">
      <div class="col-md-10">
        <h1>Cambios</h1>
      </div>
      <div class="col-md-2">
        <div class="menu">
          
        </div>
      </div>
    </div>
    <div class="row g-3">
      <div *ngIf="tabla"> 
        <div class="contenedor col-md-6"> 
          <h1>{{tabla}}</h1>
          <div class="row g-3">
              <div class="col-12" *ngFor="let propiedad of propiedades; let i = index">
                  <label *ngIf="i!=0" for="registro" class="form-label">{{propiedad}}:</label>
                  <input *ngIf="i!=0 && isNumber(propiedad)"required value="{{registro[propiedad]}}" [(ngModel)]="registro[propiedad]" name="registro" type="number" class="form-control">
                  <input *ngIf="i!=0 && !isNumber(propiedad)"required value="{{registro[propiedad]}}" [(ngModel)]="registro[propiedad]" name="registro" type="text" class="form-control">
              </div>
              <div class="col-12" id="btn">
                <button class="btn btn-primary" (click)="cambios()">Registrar</button>
             </div>
          </div>
        </div>
      </div>
    </div>
</div>

