<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Farmacia</title>
    </head>
    <body>
        <div class="menu">
            <select class="form-select" [(ngModel)]="selectedOption" (change)="navigateToForm()">
                <option value="producto" selected>Producto</option>
                <option value="empleado">Empleado</option>
                <option value="cliente">Cliente</option>
                <option value="proveedor">Proveedor</option>
                <option value="doctor">Doctor</option>
            </select>
        </div>
    </body>
</html>