<!doctype html>
<html lang="en">
        <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Farmacia</title>
    </head>
    <body>
        <div class="contenedor col-md-6"> 
            <h1>Producto</h1>
            <div class="row g-3">
                <div class="col-12">
                    <label for="nombreProducto" class="form-label">Nombre:</label>
                    <input required name="nombreProducto" type="text" class="form-control" id="nombreProducto">
                </div>
                <div class="col-12">
                    <label for="marcaProducto" class="form-label">Marca:</label>
                    <input required name="marcaProducto" type="text" class="form-control" id="marcaProducto">
                </div>
                <div class="col-12">
                    <label for="costoProducto" class="form-label">Costo:</label>
                    <input required name="costoProducto" type="number" class="form-control" id="costoProducto">
                </div>
                <div class="col-12">
                    <label for="existenciaProducto" class="form-label">Existencia:</label>
                    <input type="number" class="form-control" id="existenciaProducto" name="existenciaProducto"
                        required>
                </div>
                <div class="col-12" id="btn">
                    <button class="btn btn-primary" onclick="altas()">Registrar</button>
                </div>
            </div>
        </div>
    </body>
</html>