<div class="contenedorPrincipal">
  <div class="row g-3">
    <input type="hidden" id="operacion" value="altas">
    <div class="col-md-10">
      <h1>Altas</h1>
    </div>
    <div class="col-md-2">
      <div class="menu">
        <select class="form-select" [(ngModel)]="selectedOption" (change)="cambioSelect()">
          <option value="producto" selected>Producto</option>
          <option value="empleado">Empleado</option>
          <option value="cliente">Cliente</option>
          <option value="proveedor">Proveedor</option>
          <option value="doctor">Doctor</option>
          <option value="pedido">Pedido</option>
          <option value="consultar">Consulta</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row g-3">
    <div *ngIf="selectedOption === 'producto'"> 
      <div class="contenedor col-md-6"> 
        <h1>Producto</h1>
        <div class="row g-3">
            <div class="col-12">
                <label for="nombreProducto" class="form-label">Nombre:</label>
                <input [(ngModel)]="nombre" required name="nombreProducto" type="text" class="form-control" id="nombreProducto">
            </div>
            <div class="col-12">
                <label for="marcaProducto" class="form-label">Marca:</label>
                <input [(ngModel)]="marca" required name="marcaProducto" type="text" class="form-control" id="marcaProducto">
            </div>
            <div class="col-12">
                <label for="costoProducto" class="form-label">Costo:</label>
                <input [(ngModel)]="costo" required name="costoProducto" type="number" class="form-control" id="costoProducto">
            </div>
            <div class="col-12">
                <label for="existenciaProducto" class="form-label">Existencia:</label>
                <input [(ngModel)]="existencia" type="number" class="form-control" id="existenciaProducto" name="existenciaProducto"
                    required>
            </div>
            <div class="col-12" id="btn">
                <button class="btn btn-primary" (click)="altaProducto()">Registrar</button>
            </div>
        </div>
      </div>
    </div>


    <div *ngIf="selectedOption === 'empleado'"> 
      <div class="contenedor col-md-6"> 
        <h1>Empleado</h1>
        <div class="row g-3">
            <div class="col-12">
                <label for="nombreEmpleado" class="form-label">Nombre:</label>
                <input [(ngModel)]="nombre" required type="text" class="form-control" id="nombreEmpleado" name="nombreEmpleado">
            </div>
            <div class="col-12">
                <label for="edadEmpleado" class="form-label">Edad:</label>
                <input [(ngModel)]="edad" required type="text" class="form-control" id="edadEmpleado" name="edadEmpleado">
            </div>
            <div class="col-12">
                <label for="direccionEmpleado" class="form-label">Dirección:</label>
                <input [(ngModel)]="direccion" required type="text" class="form-control" id="direccionEmpleado" name="direccionEmpleado">
            </div>
            <div class="col-12">
                <label for="telefonoEmpleado" class="form-label">Teléfono:</label>
                <input [(ngModel)]="telefono" required type="text" class="form-control" id="telefonoEmpleado" name="telefonoEmpleado">
            </div>
            <div class="col-12">
                <label for="sueldoEmpleado" class="form-label">Sueldo:</label>
                <input [(ngModel)]="sueldo" required type="number" class="form-control" id="sueldoEmpleado" name="sueldoEmpleado">
            </div>
            <div class="col-12" id="btn">
                <button class="btn btn-primary" (click)="altaEmpleado()">Registrar</button>
            </div>
        </div>
      </div>
    </div>


    <div *ngIf="selectedOption === 'cliente'"> 
      <div class="contenedor col-md-6"> 
        <h1>Cliente</h1>  
        <div class="row g-3">
            <div class="col-12">
                <label for="nombreCliente" class="form-label">Nombre:</label>
                <input [(ngModel)]="nombre" required type="text" class="form-control" id="nombreCliente" name="nombreCliente">
            </div>
            <div class="col-12">
                <label for="edadCliente" class="form-label">Edad:</label>
                <input [(ngModel)]="edad" required type="text " class="form-control" id="edadCliente" name="edadCliente">
            </div>
            <div class="col-12">
                <label for="telefonoCliente" class="form-label">Teléfono:</label>
                <input [(ngModel)]="telefono" required type="text" class="form-control" id="telefonoCliente" name="telefonoCliente">
            </div>
            <div class="col-12">
                <label for="direccionCliente" class="form-label">Dirección:</label>
                <input [(ngModel)]="direccion" required type="text" class="form-control" id="direccionCliente" name="direccionCliente">
            </div>
            <div class="col-12" id="btn">
              <button class="btn btn-primary" (click)="altaCliente()">Registrar</button>
          </div>
        </div>
        
      </div> 
    </div>


    <div *ngIf="selectedOption === 'proveedor'"> 
      <div class="contenedor col-md-6"> 
        <h1>Proveedor</h1> 
        <div class="row g-3">
          <div class="col-12">
            <label for="nombreProveedor" class="form-label">Nombre:</label>
            <input [(ngModel)]="nombre" required name="nombreProveedor" type="text" class="form-control" id="nombreProveedor">
          </div>
          <div class="col-12">
            <label for="edadProveedor" class="form-label">Edad:</label>
            <input [(ngModel)]="edad" required name="edadProveedor" type="text" class="form-control" id="edadProveedor">
          </div>
          <div class="col-12">
            <label for="telefonoProveedor" class="form-label">Teléfono:</label>
            <input [(ngModel)]="telefono" required name="telefonoProveedor" type="text" class="form-control" id="telefonoProveedor">
          </div>
          <div class="col-12">
            <label for="direccionProveedor" class="form-label">Dirección:</label>
            <input [(ngModel)]="direccion" type="text" class="form-control" id="direccionProveedor" name="direccionProveedor" required>
          </div>
          <div class="col-12" id="btn">
            <button class="btn btn-primary" (click)="altaProveedor()">Registrar</button> 
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="selectedOption === 'doctor'"> 
      <div class="contenedor col-md-6"> 
        <h1>Doctor</h1>
        <div class="row g-3">
            <div class="col-12">
                <label for="nombreDoctor" class="form-label">Nombre:</label>
                <input [(ngModel)]="nombre" required type="text" class="form-control" id="nombreDoctor" name="nombreDoctor">
            </div>
            <div class="col-12">
                <label for="edadDoctor" class="form-label">Edad:</label>
                <input [(ngModel)]="edad" required type="text" class="form-control" id="edadDoctor" name="edadDoctor">
            </div>
            <div class="col-12">
                <label for="direccionDoctor" class="form-label">Dirección:</label>
                <input [(ngModel)]="direccion" required type="text" class="form-control" id="direccionDoctor" name="direccionDoctor">
            </div>
            <div class="col-12">
                <label for="telefonoDoctor" class="form-label">Teléfono:</label>
                <input [(ngModel)]="telefono" required type="text" class="form-control" id="telefonoDoctor" name="telefonoDoctor">
            </div>
            <div class="col-12">
                <label for="turnoDoctor" class="form-label">Turno:</label>
                <input [(ngModel)]="turno" required type="text" class="form-control" id="turnoDoctor" name="turnoDoctor">
            </div>
            <div class="col-12">
                <label for="sueldoDoctor" class="form-label">Sueldo:</label>
                <input [(ngModel)]="sueldo" required type="text" class="form-control" id="sueldoDoctor" name="especialidadDoctor">
            </div>
            <div class="col-12" id="btn">
              <button class="btn btn-primary" (click)="altaDoctor()">Registrar</button>
            </div>
          </div>
        </div>
    </div>

    <div *ngIf="selectedOption === 'pedido'"> 
      <div class="contenedor col-md-6"> 
        <h1>Pedido</h1>
        <div class="row g-3">
            <div class="col-12">
                <label for="totalPedido" class="form-label">Total del Pedido:</label>
                <input [(ngModel)]="totalPedido" required type="number" class="form-control" id="totalPedido" name="totalPedido">
            </div>
            <div class="col-12">
                <label for="fechasPedido" class="form-label">Fecha del pedido:</label>
                <input [(ngModel)]="fechasPedido" required type="date" class="form-control" id="fechasPedido" name="fechasPedido">
            </div>
            <div class="col-12">
              <label for="idsproveedor" class="form-label">Proveedor:</label>
              <select [(ngModel)]="idsProveedor" class="form-select" id="idsProducto" name="idsProducto" required>
                <option *ngFor="let proveedor of aux" [value]="proveedor.id">{{ proveedor.nombre }}</option>
              </select>
            </div>
            <div class="col-12">
                <label for="statusPedido" class="form-label">Status del Pedido:</label>
                <input [(ngModel)]="statusPedido" required type="text" class="form-control" id="statusPedido" name="statusPedido">
            </div>
            <div class="col-12" id="btn">
              <button class="btn btn-primary" (click)="altaPedido()">Registrar</button>
            </div>
        </div>
      </div>
    </div>


    <div *ngIf="selectedOption === 'consultar'"> 
      <div class="contenedor col-md-6"> 
        <h1>Consulta</h1>
        <div class="row g-3">
            <div class="col-12">
              <label for="idscliente" class="form-label">Cliente:</label>
              <select [(ngModel)]="idsCliente" class="form-select" id="idscliente" name="idscliente" required>
                <option *ngFor="let cliente of auxClie" [value]="cliente.id">{{ cliente.nombre }}</option>
              </select>
            </div>

            <div class="col-12">
              <label for="idsdosctor" class="form-label">Doctor:</label>
              <select [(ngModel)]="idsDoctor" class="form-select" id="idsdoctor" name="idsdoctor" required>
                <option *ngFor="let doctor of auxDoc" [value]="doctor.id">{{ doctor.nombre }}</option>
              </select>
            </div>
            <div class="col-12">
                <label for="consultarPrecio" class="form-label">Precio de la Consulta:</label>
                <input [(ngModel)]="consultarPrecio" required type="number" class="form-control" id="consultarPrecio" name="consultarPrecio">
            </div>
            <div class="col-12">
                <label for="fechasConsulta" class="form-label">Fecha de la Consulta:</label>
                <input [(ngModel)]="fechasConsulta" required type="date" class="form-control" id="fechasConsulta" name="fechasConsulta">
            </div>
            <div class="col-12" id="btn">
              <button class="btn btn-primary" (click)="altaConsulta()">Registrar</button>
            </div>
      </div>
    </div>

  </div>
</div>
