<div class="menu">
    <select [(ngModel)]="tabla" class="form-select" id="menuTabla" aria-label="Default select example" (change)="cargarTabla()">
        <option value="producto" selected>Producto</option>
        <option value="empleado">Empleado</option>
        <option value="cliente">Cliente</option>
        <option value="proveedor">Proveedor</option>
        <option value="doctor">Doctor</option>
    </select>
</div>

<table *ngIf="descripcionTabla && tabla!='producto'" class="table table-striped table-hover">
    <thead>
      <tr>
        <th>ID {{tabla}}</th>
        <th>Nombre {{tabla}}</th>
        <th>Edad {{tabla}}</th>
        <th>Teléfono {{tabla}}</th>
        <th>Dirección {{tabla}}</th>
        <th>Eliminar {{tabla}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let campo of descripcionTabla">
        <td>{{ campo.id }}</td>
        <td>{{ campo.nombre }}</td>
        <td>{{ campo.edad }}</td>
        <td>{{ campo.telefono }}</td>
        <td>{{ campo.direccion }}</td>
        <td><button type="button" class="btn btn-danger" (click)="baja(campo.id)">Eliminar</button></td>
      </tr>
    </tbody>
</table>



<table *ngIf="descripcionTabla && tabla=='producto'" class="table table-striped table-hover">
    <thead>
      <tr>
        <th>ID Producto</th>
        <th>Nombre Producto</th>
        <th>Marca Producto</th>
        <th>Costo Producto</th>
        <th>Existencia Producto</th>
        <th>Eliminar Producto</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let campo of descripcionTabla">
        <td>{{ campo.idProducto }}</td>
        <td>{{ campo.nombreProducto }}</td>
        <td>{{ campo.marcaProducto }}</td>
        <td>{{ campo.costoProducto }}</td>
        <td>{{ campo.existenciaProducto }}</td>
      </tr>
    </tbody>
</table>

